body
{
    
    color: #7d486b;
    
    font-family: 'Josefin Sans', serif; /*możesz później zmienić na sans-serif jak zawijaski przy literkach będą przeszkadzać */ 

    

}


a
{
    color:#7d486b;
    text-decoration: none;
}

#containter
{
    width: 1200px;
    margin-left:auto;
    margin-right:auto;
    
}



#logo
{
    color: #7d486b;
    text-align: center;
    padding: 15px;
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 700;
    

}

.rectangle
{
    background-color: rgb(235, 24, 140, 0.2);
    width: 1180px;    
    padding: 10px;
    font-size: 80px;
    color: #FFFFFF; 
    

}


#menu
{

    color: #FFFFFF; 
    padding: 10px; 

}



#search
{
    margin: auto;
    text-align: center;
    padding: 10px;

}


#button:active {
    background-color: #ffbf00;
}


.option
{
   
    height: 80px;
    font-size: 18px;
    padding:10px;
    
    float:left;

    opacity: 0.7;
    
}

/* 
border-right: 2px dotted #FFFFFF;


*/  


 


.option:hover
{
    /* background-color: rgb(148, 46, 207); kolor troszkę ciemniejszy niż kolor menu*/  
    cursor: pointer;
    
    opacity: 1;

}


#email
{
   
	margin: 10px;
    font-size: 50px;
    float: right;

    margin-right: 35px ;

	
    
}


#email:hover
{
	color: #c84222;

}



#nav
{
    float: left;
    /* background-color: #f5d364; */ 

    background-color: rgba(223, 195, 71, 0.3);
    width: 160px;
    height: 900px;
    padding: 20px;    
    font-size: 18px;
    text-align: center;


}



.optionL
{
    font-size: 18px;
    height: 25px;
    padding: 10px;
    border-bottom: 2px dotted #444444;

}

.optionL:hover
{
    background-color: #f5af64;
    cursor:pointer
}

.profil
{
    font-size: 18px;
    height: 25px;
    padding: 10px;
    background-color: rgba(255, 252, 254, 0.1);

    width: 140;
       

}

.profil:hover
{
    background-color: #e4ae53;
    cursor:pointer;
    
}


h2
{
    font-size: 25px;
    text-align: center;
}

article
{
    text-align: justify;
    background-color: rgba(255, 252, 254, 0.1);
    padding: 20px;
    font-size: 20px;
}


/*nieodwiedzony link */
a:link 
{
    color:whitesmoke
    
}





a.navlink

{
    color:#7d486b;
    text-decoration: none;

}


#content
{
    float: left;
    padding: 20px;
    width: 760px;
    
}

#navYT
{
    float:left;
    width: 160px;
    height: 900px;
    padding: 20px;
    
    background-color: rgba(223, 195, 71, 0.3); 

    text-align: center;

   
    
}

#singer
{
    width: 120px;
    text-align: center;
 
    font-size: 15px;

    color: red


    
    
    
    

}


#footer
{
    clear:both;
    background-color: black;
    /* color: #7d486b; */ 
    text-align: center;
    padding: 20px;
    
    font-size: 18px;

}



h3
{
    font-size: 40px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 30px;
    height: 60px;

}

/* profil */ 

#logowanie
{
    text-align: center;
    background-color: rgba(255, 252, 254, 0.1);
    padding: 20px;
    font-size: 20px;
    height: 250px;
    border-radius: 20px;
   



}
/*
#signup_button
{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    
    padding: 10px;
    border-radius: 5px;

}

*/


#text
{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: solid 3px rgb(192, 172, 228);
    background-color: rgb(241, 227, 240);
    font-size: 20px;


}

#button
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: solid 3px rgb(192, 172, 228);
    height: 40px;
    
}

.event
{
    text-align: center;
    background-color: rgba(255, 252, 254, 0.1);
    padding: 20px;
    font-size: 20px;
    height: 150px;
    border-radius: 20px;
   
}

/* koncerty*/ 

.tekstR
{
    
    text-align: justify;
    padding-left: 10px;

}

.eventL
{
    padding: 10px;
}

